/node_modules
/npm-debug.log
/.idea
/.vscode
/.phpunit.result.cache

# Laravel specific
/vendor
/public/storage
/public/hot
/public/mix-manifest.json
/storage/*.key
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

# Environment files
.env
.env.*
.env.backup
/.env.local.php
Homestead.yaml
Homestead.json
.env.testing

# Ignore the Composer lock file if your package must be cross-platform
# composer.lock

# Ignore system files
.DS_Store
Thumbs.db

# Cache and build files
.phpunit.result.cache
/.php-cs-fixer.cache
/.phpunit.result.cache
